<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>gallery</h2>
        <p>Check <span>Our Gallery</span></p>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          {% for image in images %}
            <div id="items-width">
              
              <a class="glightbox" data-gallery="images-gallery" href="{{ image.get_absolute_url }}">
                <a href="{{ image.get_absolute_url }}">
                  <img src="{{ image.image.url }}" class="img-fluid" alt="">
                </a>
              </a>

              <div class="info">
                <a href="{{ image.get_absolute_url }}" class="title" >
                    {{ image.title }}
                </a>
              </div>
              
            </div>

          {% endfor %}

          <div class="swiper-pagination"></div>
        </div>

        <div class="swiper-pagination"></div>
      </div>

    </div>
</section><!-- End Gallery Section -->

    <!-- <div class="image">
        <a href="{{ image.get_absolute_url }}">
            <a href="{{ image.get_absolute_url }}">
                <img src="{{ image.url }}">
            </a>
        </a>
        
        <div class="info">
            <a href="{{ image.get_absolute_url }}" class="title" >
                {{ image.title }}
            </a>
        </div>
    </div> -->
